rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /requests/{requestId} {
      allow create: if request.resource.data.status == "queued"
        && request.resource.data.keys().hasAll(['requestId', 'rollNumber', 'studentName', 'problemType', 'status', 'createdAt'])
        && request.resource.data.rollNumber is string
        && request.resource.data.studentName is string && request.resource.data.studentName.size() <= 60
        && request.resource.data.problemType is string && request.resource.data.problemType.size() <= 30;

      allow update, delete, list: if request.auth != null;
      allow get: if true;
    }
  }
}